{% extends 'layout.html' %}
{% block content %}
    <h1>Facial Recogntion Lockbox</h1>
    
    <h3>Developers</h3>
    <div class="content-section">
        <img src= "static/images/Picture_senior_design.png" alt="Ryan Wiegman" width="75" height="75">
        <p>Ryan Wiegman is currently a senior at University of Central Florida,
            working towards completing a degree in computer engineering. 
            Ryan's future goals after graduating is to find a job in software development, 
            with a focus on artificial intelligence.
        </p>
    </div>
{% endblock content %}